// Site for encoding images in base64 (https://www.base64-image.de)
// or background-image: url('../img/icons/icon-example.svg')
// Example usage "@extend .icon-example"
.icon
    &-arrow-left-black
        @include icon
        background-image: url('../img/icons/icon-arrow-left-black.png')
        width: px
        height: px
    &-arrow-left-blue
        @include icon
        background-image: url('../img/icons/icon-arrow-left-blue.svg')
        width: px
        height: px
    &-clock-gray
        @include icon
        background-image: url('../img/icons/icon-clock-gray.png')
        width: px
        height: px
    &-dell-emc-color
        @include icon
        background-image: url('../img/icons/icon-dell-emc-color.png')
        width: px
        height: px
    &-dell-emc-white
        @include icon
        background-image: url('../img/icons/icon-dell-emc-white.png')
        width: px
        height: px
    &-hp-color
        @include icon
        background-image: url('../img/icons/icon-hp-color.png')
        width: px
        height: px
    &-hp-white
        @include icon
        background-image: url('../img/icons/icon-hp-white.png')
        width: px
        height: px
    &-logo-gray
        @include icon
        background-image: url('../img/icons/icon-logo-gray.png')
        width: px
        height: px
    &-logo
        @include icon
        background-image: url('../img/icons/icon-logo.png')
        width: px
        height: px
    &-phone-black
        @include icon
        background-image: url('../img/icons/icon-phone-black.png')
        width: px
        height: px
    &-plus-white
        @include icon
        background-image: url('../img/icons/icon-plus-white.svg')
        width: px
        height: px
    &-question-blue
        @include icon
        background-image: url('../img/icons/icon-question-blue.png')
        width: px
        height: px
    &-save-black
        @include icon
        background-image: url('../img/icons/icon-save-black.png')
        width: px
        height: px
    &-save-white
        @include icon
        background-image: url('../img/icons/icon-save-white.png')
        width: px
        height: px
    &-search
        @include icon
        background-image: url('../img/icons/icon-search.png')
        width: px
        height: px
    &-trash-gray
        @include icon
        background-image: url('../img/icons/icon-trash-gray.png')
        width: px
        height: px
    &-trash-red
        @include icon
        background-image: url('../img/icons/icon-trash-red')
        width: px
        height: px
    