.selected-config
    .selected-config__container.selected-config__container_top
        .selected-config__title Выбранная конфигурация
        a.selected-config__back-link(href="#") Вернуться назад
    .selected-config__container.selected-config__container_bottom
        .selected-config__content
            .selected-config__col
                img.selected-config__img(src="img/examples/1.png" alt="")
            .selected-config__col
                .selected-config__subtitle Сервер HP ProLiant DL360 Gen10
                ul.selected-config__list
                    li.selected-config__list-item
                        a.selected-config__list-item-link(href="#") HPE Proliant ВД380 Gen10 Quickspecs
                    li.selected-config__list-item
                        a.selected-config__list-item-link(href="#") Технические данные
                    li.selected-config__list-item
                        a.selected-config__list-item-link(href="#") Гарантийные обязательства
                    li.selected-config__list-item
                        a.selected-config__list-item-link(href="#") Описание платформы
            .selected-config__col
                .selected-config__subtitle Предустановленная конфигурация
                ul.selected-config__list
                    li.selected-config__list-item LxIntel<sup class="reg">&reg;</sup> Xeon-Gold 5118
                    li.selected-config__list-item Lx32GB Dual Rank x4&nbsp;DDR2-2666
                    li.selected-config__list-item LxIntel<sup class="reg">&reg;</sup> Xeon-Gold 5118
                    li.selected-config__list-item Lx32GB Dual Rank x4&nbsp;DDR2-2666
                    li.selected-config__list-item LxIntel<sup class="reg">&reg;</sup> Xeon-Gold 5118
                a.selected-config__link-medium(href="#") Показать весь список
            .selected-config__col
                img.selected-config__img-logo(src="img/icons/icon-hp-color.png" alt="")