.footer
    background-color: $color-white
    box-shadow: 5.592px 8.29px 68px 0px rgba($color-black, 0.06)
    &__container
        @include glass
        display: flex
        justify-content: space-between
        align-items: center
        padding: 53px 20px 53px
    &__copyright
        font: 700 12px/2 $font-default
        color: $color-brown
    &__link
        text-decoration: none
        position: relative
        display: flex
        justify-content: flex-start
        align-items: center
        &_help
            font: 500 14px/1.714 $font-default
            color: $color-blue
            margin: 0 0 0 auto
            &:before
                content: ''
                display: block
                @extend .icon-question-blue
                margin: 0 20px 0 0
        &_tel
            font: 700 20px/1.2 $font-default
            color: $color-black
            margin: 0 0 0 103px
            position: relative
            &:before
                content: ''
                display: block
                @extend .icon-phone-black
                margin: 0 11px 0 0