footer.footer
    .footer__container
        .footer__copyright &copy;&nbsp;Конфигуратор серверного оборудования, 2019
        a.footer__link.footer__link_help(href="#") Задать вопрос специалисту
        a.footer__link.footer__link_tel(href="tel:+7495318833") + 7(495) 31 88 33