.configuration
    .configuration__container.configuration__container_top
        .configuration__title Конфигурирование
        a.configuration__save-btn(href="#") Сохранить конфигурацию
    .configuration__container.configuration__container_bottom
        .configuration__content
            .configuration__col
                .configuration__item
                    .configuration__item-row.configuration__item-row_top
                        table.configuration__table
                            tr.configuration__tr
                                td.configuration__td
                                    .configuration__text-selected Процессор
                                td.configuration__td
                                    .configuration__text
                                        span.configuration__text-inner
                                            | Intel
                                            sup &reg;
                                            | Xeon-Gold 5118 (2,3 Ghz&nbsp;/ 12-core&nbsp;/ 105w)
                                td.configuration__td
                                    a.configuration__add-link(href="#") Добавить
                    .configuration__item-row.configuration__item-row_bottom
                        .configuration__item-line
                            a.configuration__add-link(href="#") Добавить
                .configuration__item
                    .configuration__item-row.configuration__item-row_top
                        table.configuration__table
                            tr.configuration__tr
                                td.configuration__td
                                    .configuration__text-selected Память
                                td.configuration__td
                                    .configuration__text
                                        span.configuration__text-inner 32GB Dual Rank x4 DDR4-2666 GAS-19-19 Registre
                                        a.configuration__link(href="#") Схема расположения по слотам
                                td.configuration__td
                                    a.configuration__add-link(href="#") Добавить
                    .configuration__item-row.configuration__item-row_bottom
                        .configuration__item-line
                            select.configuration__select.configuration__select_long
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                            select.configuration__select.configuration__select_shot
                                option.configuration__select-option 1 шт.
                                option.configuration__select-option 2 шт.
                                option.configuration__select-option 3 шт.
                                option.configuration__select-option 4 шт.
                            a.configuration__link-remove(href="#")
                        .configuration__item-line
                            select.configuration__select.configuration__select_long
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                                option.configuration__select-option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                            select.configuration__select.configuration__select_shot
                                option.configuration__select-option 1 шт.
                                option.configuration__select-option 2 шт.
                                option.configuration__select-option 3 шт.
                                option.configuration__select-option 4 шт.
                            a.configuration__link-remove(href="#")
                        .configuration__item-line
                            a.configuration__add-link(href="#") Добавить
                .configuration__item
                    .configuration__item-row.configuration__item-row_top
                        table.configuration__table
                            tr.configuration__tr
                                td.configuration__td
                                    .configuration__text-selected
                                        | RAID
                                        br
                                        | контроллер
                                td.configuration__td
                                    .configuration__text
                                        span.configuration__text-inner E-208i-a SR Gen10 Lh / No Chache /12 GB / 2
                                        a.configuration__link(href="#") Расчитать RAID массив
                                td.configuration__td
                                    a.configuration__add-link(href="#") Добавить
                    .configuration__item-row.configuration__item-row_bottom
                        .configuration__item-line
                            select.configuration__select.configuration__select_long
                                option.configuration__select-option SSD
                                option.configuration__select-option HDD
                                option.configuration__select-option HDD+SSD
                            select.configuration__select.configuration__select_long
                                option.configuration__select-option Intel s4600
                                option.configuration__select-option Intel s4600
                                option.configuration__select-option Intel s4800
                            select.configuration__select.configuration__select_shot
                                option.configuration__select-option 1 шт.
                                option.configuration__select-option 2 шт.
                                option.configuration__select-option 3 шт.
                            a.configuration__link-remove(href="#")
                        .configuration__item-line
                            select.configuration__select.configuration__select_long
                                option.configuration__select-option SSD
                                option.configuration__select-option HDD
                                option.configuration__select-option HDD+SSD
                            select.configuration__select.configuration__select_long
                                option.configuration__select-option Intel s4600
                                option.configuration__select-option Intel s4600
                                option.configuration__select-option Intel s4800
                            select.configuration__select.configuration__select_shot
                                option.configuration__select-option 1 шт.
                                option.configuration__select-option 2 шт.
                                option.configuration__select-option 3 шт.
                            a.configuration__link-remove(href="#")
                        .configuration__item-line
                            a.configuration__add-link(href="#") Добавить
            .configuration__col
                .configuration__add-options
                    .configuration__add-options-title Добавленные опции:
                    .configuration__add-options-wrapper
                        .configuration__add-options-item
                            .configuration__add-options-text LxIntel® Xeon-Gold 5118
                            a.configuration__link-remove(href="#")
                        .configuration__add-options-item
                            .configuration__add-options-text Lx32GB Dual Rank x4 DDR2-2666
                            a.configuration__link-remove(href="#")
                .configuration__checkout
                    .configuration__checkout-col
                        .configuration__checkout-sum 790 000 руб.
                        .configuration__checkout-date Срок поставки: 3 дня
                    .configuration__checkout-col
                        a.configuration__checkout-btn(href="#") Оформить заказ
                        a.configuration__checkout-link(href="#") Помощь с выбором
                .configuration__help
                    .configuration__help-row
                        .configuration__help-text
                            | Если у&nbsp;вас возникли сложности с&nbsp;подбором оборудования,&nbsp;
                            br
                            | вы&nbsp;можете позвонить в&nbsp;наш call-центр или задать вопрос специалисту.
                    .configuration__help-row
                        a.configuration__help-tel(href="tel:+7495318833") +7 (495) 31-88-33
                        a.configuration__help-link(href="#") Задать вопрос специалисту